.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
    overflow: hidden;
}

.ditherContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 10;
}