.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
}