.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
    overflow: hidden;
}

.particlesContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.particlesContainer canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

.content {
    position: relative;
    z-index: 10;
    pointer-events: none;
}

.content>* {
    pointer-events: auto;
}